#maincontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
    height: 100vh;
    width: 80%;
    margin: auto;
    overflow: scroll;
    
     
    
    
}

#title {
    
    background: gray;
    border-radius: 5px;
    border: 2px solid black;
    align-self: center; 
    text-align: center;
    width: 25%;
    flex-basis: fit-content;
    height: 95%;  
    position: sticky;
    top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3%;
     
}


#images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 75%
    
}


body {
    background: lightgray;
}

img {
    padding: 10px;
}

@media (max-width: 480px){
    #maincontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;  

            
    }

    #title {
        width: 100%;
        align-content: center;
        height: 15%;
        position: relative;
        justify-content: space-around;
        
        
    }
    #images{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    img {
        box-sizing: border-box;
        width: calc(50%); 
        height: calc(20%) 
    }
    

    
}





  
  



